


.am-list-item .am-list-line .am-list-extra{
 font-size: 8px;
 color: #9f9f9f;
}
.hot_city_container{
    margin-top:10px;
    .am-list{
        font-size: 4px;
    }
}
div .am-tag{
  width:25%;
  height:80px;
  line-height: 77px;
}