
.markdown{
    width: 100%;
    color: #666;
    font-size:40px;
    padding:20px;
    padding-right:20px;
    h2{
        line-height:105px;
        color:#333;
    }
    p{
        font-size:30px;
        margin-right:30px;
    }
}