
div .info-data-link{
    width: 32%;
    height:180px;
    margin-left:8px;
    span{
        display: block;
        color:#f90;
        font-size: 60px;
        margin-top:8px;
    }
}
.profile{
    margin-bottom:20px;
}
.icon-ziyuan{
    margin-right:20px;
}
.icon-yly_jifenshangcheng{
    margin-right:20px;
    font-size:36px;
    color:rgb(252, 123, 83);
}
.icon-huangguanguanjundiyihuiyuan{
    color:yellow;
    margin-right:20px;
}
.icon-yk_fangkuai_fill{
    color: blue;
    margin-right:20px;
}
.icon-changyonglogo40{
    margin-right:20px;
    color: royalblue;
    font-size: 40px;
}
// .MuiListItem-root{
//     // height:200px;
//     // background-color: #108ee9;
//     // margin-bottom: 10px;
// }
